<html>
<head>
<title>CAR PRICE PREDICTION</title>
</head>
<body background="static\2.jpg">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CAR PRICE PREDICTION MODEL 
    <form action="/predict_price" method="POST">
      
        <label>symboling:</label><input type="text" name="symboling"><br><br>
        <label>normalized_losses:</label><input type="text" name="normalized_losses"><br><br>
        <label>make:</label><input type="text" name="make"><br><br>
        <label>fuel_type:</label><input type="text" name="fuel_type"><br><br>
        <label>aspiration:</label><input type="text" name="aspiration"><br><br>
        <label>num_of_doors:</label><input type="text" name="num_of_doors"><br><br>
        <label>body_style:</label><input type="text" name="body_style"><br><br>
        <label>drive_wheels:</label><input type="text" name="drive_wheels"><br><br>
        <label>engine_location:</label><input type="text" name="engine_location"><br><br>
        <label>wheel_base:</label><input type="text" name="wheel_base"><br><br>
        <label>length:</label><input type="text" name="length"><br><br>
        <label>width:</label><input type="text" name="width"><br><br>
        <label>height:</label><input type="text" name="height"><br><br>
        <label>curb_weight:</label><input type="text" name="curb_weight"><br><br>
        <label>engine_type:</label><input type="text" name="engine_type"><br><br>
        <label>num_of_cylinders:</label><input type="text" name="num_of_cylinders"><br><br>
        <label>engine_size:</label><input type="text" name="engine_size"><br><br>
        <label>fuel_system:</label><input type="text" name="fuel_system"><br><br>
        <label>bore:</label><input type="text" name="bore"><br><br>
        <label>stroke:</label><input type="text" name="stroke"><br><br>
        <label>compression_ratio:</label><input type="text" name="compression_ratio"><br><br>
        <label>horsepower:</label><input type="text" name="horsepower"><br><br>
        <label>peak_rpm:</label><input type="text" name="peak_rpm"><br><br>
        <label>city_mpg:</label><input type="text" name="city_mpg"><br><br>
        <label>highway_mpg:</label><input type="text" name="highway_mpg"><br><br>
        <input type="submit">
        <br><br>
        <br><br> <br><br> <br><br>
        
    </form>
    
</body>
</html>

